{% extends "home.html" %}
{% block content %}
  <div class='item'>
    <h1>Login</h1>
    <p class="error">{{ error }}</p>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p> username: {{ form.uname(size=20) }}   </p>
      <p> password: {{ form.pword(size=20) }}   </p>
      <p> <input type="submit" value="Sign In"/> </p>
    </form>
  </div>
  <div class='item'>
    <h1>Create Account</h1>
    <form action="/register">
      <input type="submit" value="Create account" />
    </form>
  </div>
{% endblock %}
